<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout.html}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){

      calculateToalPrice();

      $("#count").change( function(){
        calculateToalPrice();
      });
    });

    function calculateToalPrice(){
      var count = $("#count").val();
      var price = $("#price").val();
      var totalPrice = price*count;
      $("#totalPrice").html(totalPrice + '원');
    }

    function order(){
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/order";
      var paramData = {
        itemId : $("#itemId").val(),
        count : $("#count").val()
      };

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("주문이 완료 되었습니다.");
          location.href='/';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseText);
          }

        }
      });
    }

    function addCart(){
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/cart";
      var paramData = {
        itemId : $("#itemId").val(),
        count : $("#count").val()
      };

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("상품을 장바구니에 담았습니다.");
          location.href='/';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseText);
          }

        }
      });
    }

  </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .mgb-15{
      margin-bottom:15px;
    }
    .mgt-30{
      margin-top:30px;
    }
    .mgt-50{
      margin-top:50px;
    }
    .repImgDiv{
      margin-right:15px;
      height:auto;
      width:50%;
    }
    .repImg{
      width:100%;
      height:400px;
    }
    .wd50{
      height:auto;
      width:50%;
    }
  </style>
</th:block>

<div layout:fragment="content">

  <input type="hidden" id="itemId" th:value="${item.id}"/>

  <section class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-5 mt-5">
          <div class="card mb-3">
            <img class="card-img img-fluid" th:src="${item.itemImgDtoList[0].imgUrl}"  alt="Card image cap" id="product-detail">
          </div>
        </div>
        <!-- col end -->
        <div class="col-lg-7 mt-5">
          <div class="card">
            <div class="card-body">
              <h1 class="h2"  th:text="${item.itemNm}">Active Wear</h1>
              <span class="h3 py-2" name="price" id="price" th:text="${item.price}">$25.00</span>원
              <p class="py-2 d-none">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-secondary"></i>
                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
              </p>
              <div class="row my-3">

                <h6>상세 설명 </h6>
                <p th:text="${item.itemDetail}"></p>
              </div>

              <div class="row">
                <div class="col-auto">
                  <ul class="list-inline pb-3">
                    <li class="list-inline-item text-right">
                      수량
                      <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                    </li>
                  </ul>
                </div>
              </div>
              <div class="text-right mgt-50 d-none">
                <h5>결제 금액</h5>
                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
              </div>
              <form action="" method="GET">
                <input type="hidden" name="product-title" value="Activewear">
                <div class="row pb-3">
                  <div class="col d-grid">
                    <button type="button" class="btn btn-success btn-lg" name="submit" onclick="order()">주문</button>
                  </div>
                  <div class="col d-grid">
                    <button type="button"
                            th:if="${item.itemSellStatus == T(won.shop.constant.ItemSellStatus).SELL}" class="btn btn-success btn-lg">장바구니</button>
                    <div th:unless="${item.itemSellStatus == T(won.shop.constant.ItemSellStatus).SELL}" class="text-right">
                      <button type="button" class="btn btn-danger btn-lg">품절</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
      <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800"/>
    </div>

  </section>
</div>
</html>