<!DOCTYPE html>

<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<head  th:insert="~{/fragment/adminHeader.html :: header}">
    <meta charset="UTF-8">
</head>
<body>
    <th:block layout:fragment="content"></th:block>
  <script th:inline="javascript">
      $(document).ready(function (){
          let errorMessage = [[${errorMessage}]];
          console.log("errorMessage",errorMessage);
          if(errorMessage != null){
              alert(errorMessage);
          }
      })

  </script>
</body>

</html>
