<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_blank_layout.html}">
<div layout:fragment="content" class="container-fluid">
    <div class="row py-5 m-auto" style="width: 700px;">
        <div class="text-center p-3">
            <h2 class="m-auto" th:text="#{login}"></h2>
        </div>
        <form class="col-md-9 m-auto" th:action method="post" role="form">
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력해주사요.">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력해주세요.">
            </div>
            <div class="alert alert-danger" role="alert" th:if="${loginErrorMsg}" th:text="${loginErrorMsg}"></div>
            <div class="d-flex">
                <button class="btn btn-primary me-3">로그인</button>
                <button type="button" class="btn btn-success" th:onclick="|location.href='@{/members/new}'|" >회원가입</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </div>
        </form>
    </div>
</div>
