body{
font-size:11.5px !important;
font-family: 'Noto Sans KR', 'sans-serif' !important;
}

a, body, div, input, label, li, p, ul{
font-size:11.5px !important;
font-weight: 400 !important;
font-family: 'Noto Sans KR', 'sans-serif';
}

/*a,.nav-link{*/
/*   color:white;*/
/*}*/
.navbar-toggler:focus{
 box-shadow:none;
}

button:focus{
box-shadow:none;
}

.navbar-brand{
font-family: 'Noto Serif KR';

}

.form-control:focus{
    box-shadow:none;
    border-color:transparent;
}
.field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 .btn-check:focus+.btn, .btn:focus{
    box-shadow:none;
 }
 .btn,td,th,tr{
 font-size:1.5px;
 }

 .banner-str1, .font-logo{
font-family: 'Noto Serif KR';
 }
#order{

    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-input{
    display:inline;
    width:60px;
}

td input {
    margin:5px 0;
}

.w-60px{
    width:60px;
}
.w-70px{
    width:70px;
}
.w-80px{
    width:80px;
}
.w-90px{
    width:90px;
}
.w-100px{
    width:100px;
}
.w-110px{
    width:110px;
}
.w-120px{
    width:120px;
}

.thumbnail{
    width:120px;
    margin-left:10px;
}
.thumbnail-list{
    width:150px;
    margin-right: 5px;
    position: relative;
}
.img-remove-btn{
    position: absolute;
    left: 83px;
    position: absolute;

}
textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none;
}

.active>.page-link, .page-link.active{
    border-color: transparent;
}




